<h2>Account history:</h2>
<div *ngIf="accountHistory">
    <div>Account {{accountHistory.name}} started with balance: {{accountHistory.accountStartBalance}}. Current balance is: {{accountHistory.accountCurrentBalance}}</div>
    <div style="margin-top: 20px;">
        <account-history-chart [balancesPerDay]="accountHistory.accountBalanceHistory"></account-history-chart>
    </div>
    <div *ngIf="accountHistory.incomingTransfers.length">
        <h3>Incoming transfers</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Account from</td>
                    <td>Amount</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transfer of accountHistory.incomingTransfers" [routerLink]="['/transfer']" [queryParams]="{ id: transfer.id }">
                    <td>{{transfer.title}}</td>
                    <td>{{transfer.accountFrom}}</td>
                    <td>{{transfer.amount}}</td>
                    <td>{{transfer.transferDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="accountHistory.outgoingTransfers.length">
        <h3>Outgoing transfers</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Account to</td>
                    <td>Amount</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transfer of accountHistory.outgoingTransfers" [routerLink]="['/transfer']" [queryParams]="{ id: transfer.id }">
                    <td>{{transfer.title}}</td>
                    <td>{{transfer.accountTo}}</td>
                    <td>{{transfer.amount}}</td>
                    <td>{{transfer.transferDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>