<h2 *ngIf="transfer.id">Transfer edit:</h2>
<h2 *ngIf="!transfer.id">New transfer:</h2>
<form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)"
      class="form-horizontal">
    <input type="hidden" [formControl]="myForm.controls['id']" />
    <div class="form-group">
        <label class="control-label col-sm-2" for="titleInput">
            Title
        </label>
        <div class="col-sm-2">
            <input class="form-control" 
                   type="text"
                   id="titleInput"
                   placeholder="Title"
                   [formControl]="myForm.controls['title']" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="amountInput">
            Amount
        </label>
        <div class="col-sm-2">
            <input class="form-control"
                   type="number"
                   min="1"
                   step="1"
                   id="amountInput"
                   placeholder="1"
                   [formControl]="myForm.controls['amount']" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="accountInput">
            Account
        </label>
        <div class="col-sm-2">
            <select class="form-control"
                    id="accountInput"
                    [formControl]="myForm.controls['account']">
                <option value="1">ING</option>
                <option value="2">DB</option>
                <option value="3">Getin</option>
                <option value="4">BZWBK</option>
                <option value="5">Gotówka</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="directionInput">
            Direction
        </label>
        <div class="col-sm-2">
            <select class="form-control"
                    id="directionInput"
                    [formControl]="myForm.controls['direction']">
                <option value="1">Credit</option>
                <option value="2">Debit</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="dateInput">
            Date
        </label>
        <div class="col-sm-2">
            <input class="form-control"
                   type="text"
                   id="dateInput"
                   placeholder="YYYY-MM-DD"
                   [formControl]="myForm.controls['date']" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="repeatInput">
            Repeat
        </label>
        <div class="col-sm-2">
            <input class="checkbox" 
                   type="checkbox"
                   id="repeatInput"
                   [formControl]="myForm.controls['isRepeated']" />
        </div>
    </div>
    <div class="form-group" *ngIf="myForm.controls['isRepeated'].value">
        <label class="control-label col-sm-2" for="repeatPeriodInput">
            Repeat period
        </label>
        <div class="col-sm-2">
            <select class="form-control"
                    id="repeatPeriodInput"
                    [formControl]="myForm.controls['repeatPeriod']">
                <option value="1">Year</option>
                <option value="2">Quarter</option>
                <option value="3">Month</option>
            </select>
        </div>
    </div>
    <div class="form-group" *ngIf="myForm.controls['isRepeated'].value && myForm.controls['repeatPeriod'].value">
        <label class="control-label col-sm-2" for="finishDateInput">
            Finish date
        </label>
        <div class="col-sm-2">
            <input class="form-control"
                   type="text"
                   id="finishDateInput"
                   placeholder="YYYY-MM-DD"
                   [formControl]="myForm.controls['finishDate']" />
        </div>
    </div>
    <div class="form-group" *ngIf="myForm.controls['isRepeated'].value && myForm.controls['repeatPeriod'].value">
        <label class="control-label col-sm-2" for="isContinuousInput">
            Is continuous
        </label>
        <div class="col-sm-2">
            <input class="checkbox" 
                   type="checkbox"
                   id="isContinuousInput"
                   [formControl]="myForm.controls['isContinuous']" />
        </div>
    </div>
    <div class="error" *ngIf="!myForm.valid && submitted">
        Please fill in required fields
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
</form>