<h2 *ngIf="myForm.controls['id']">Transfer edit:</h2>
<h2 *ngIf="!myForm.controls['id']">New transfer:</h2>
<form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)"
      class="form-horizontal">
    <input type="hidden" [formControl]="myForm.controls['id']" />
    <div class="form-group" [class.has-error]="!myForm.controls['title'].valid && (myForm.controls['title'].touched || submitted)">
        <label class="control-label col-lg-2" for="titleInput">
            Title
        </label>
        <div class="col-lg-2">
            <input class="form-control" 
                   type="text"
                   id="titleInput"
                   placeholder="Title"
                   [formControl]="myForm.controls['title']" />
        </div>
    </div>
    <div class="form-group" [class.has-error]="!myForm.controls['accountFromId'].valid && (myForm.controls['accountFromId'].touched || submitted)">
        <label class="control-label col-lg-2" for="accountFromInput">
            Account from
        </label>
        <div class="col-lg-2">
            <select class="form-control"
                    id="accountFromInput"
                    [formControl]="myForm.controls['accountFromId']">
                <option *ngFor="let acc of this.accounts" value="{{acc.id}}">{{acc.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group" [class.has-error]="!myForm.controls['accountToId'].valid && (myForm.controls['accountToId'].touched || submitted)">
        <label class="control-label col-lg-2" for="accountToInput">
            Account to
        </label>
        <div class="col-lg-2">
            <select class="form-control"
                    id="accountToInput"
                    [formControl]="myForm.controls['accountToId']">
                <option *ngFor="let acc of this.accounts" value="{{acc.id}}">{{acc.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group" [class.has-error]="!myForm.controls['amount'].valid && (myForm.controls['amount'].touched || submitted)">
        <label class="control-label col-lg-2" for="amountInput">
            Amount
        </label>
        <div class="col-lg-2">
            <input class="form-control"
                   type="number"
                   min="1"
                   step="1"
                   id="amountInput"
                   placeholder="1"
                   [formControl]="myForm.controls['amount']" />
        </div>
    </div>
    <div class="form-group" [class.has-error]="!myForm.controls['transferDate'].valid && (myForm.controls['transferDate'].touched || submitted)">
        <label class="control-label col-lg-2" for="dateInput">
            Transfer date
        </label>
        <div class="col-lg-2">
            <input class="form-control"
                   type="text"
                   id="dateInput"
                   placeholder="YYYY-MM-DD"
                   [formControl]="myForm.controls['transferDate']" />
        </div>
    </div>
    <div class="alert alert-success" *ngIf="saved">
        Transfer saved
    </div>
    <div class="alert alert-danger" *ngIf="!myForm.valid && submitted">
        Please fill in required fields
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-danger" *ngIf="id" (click)="delete($event); false">Delete</button>
</form>