<h2>My Transfers</h2>
<div class="loader" *ngIf="isLoading"></div>
<button class="btn btn-success" type="submit" [routerLink]="['/transfer']">Add new</button>
<table class="table table-hover" *ngIf="!isLoading">
    <thead>
        <tr>
            <td *ngFor="let columnDefinition of gridDefinition.columnDefinitions" (click)="reload(columnDefinition.dataKey)">{{columnDefinition.dataHeader}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of gridDefinition.data" [routerLink]="['/transfer']" [queryParams]="{ id: data.id }">
            <td *ngFor="let columnDefinition of gridDefinition.columnDefinitions">{{data[columnDefinition.dataKey]}}</td>
        </tr>
    </tbody>
</table> 
