<h2 *ngIf="transfer.id">Transfer edit:</h2>
<h2 *ngIf="!transfer.id">New transfer:</h2>
<form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)"
      class="form-horizontal">
    <input type="hidden" [formControl]="myForm.controls['id']" />
    <div class="form-group">
        <label class="control-label col-sm-2" for="titleInput">
            Title
        </label>
        <div class="col-sm-2">
            <input class="form-control" 
                   type="text"
                   id="titleInput"
                   placeholder="Title"
                   [formControl]="myForm.controls['title']" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="accountFromInput">
            Account from
        </label>
        <div class="col-sm-2">
            <select class="form-control"
                    id="accountFromInput"
                    [formControl]="myForm.controls['accountFromId']">
                <option value="1">ING</option>
                <option value="2">DB</option>
                <option value="3">Getin</option>
                <option value="4">BZWBK</option>
                <option value="5">Gotówka</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="accountToInput">
            Account to
        </label>
        <div class="col-sm-2">
            <select class="form-control"
                    id="accountToInput"
                    [formControl]="myForm.controls['accountToId']">
                <option value="1">ING</option>
                <option value="2">DB</option>
                <option value="3">Getin</option>
                <option value="4">BZWBK</option>
                <option value="5">Gotówka</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="amountInput">
            Amount
        </label>
        <div class="col-sm-2">
            <input class="form-control"
                   type="number"
                   min="1"
                   step="1"
                   id="amountInput"
                   placeholder="1"
                   [formControl]="myForm.controls['amount']" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="dateInput">
            Transfer date
        </label>
        <div class="col-sm-2">
            <input class="form-control"
                   type="text"
                   id="dateInput"
                   placeholder="YYYY-MM-DD"
                   [formControl]="myForm.controls['transferDate']" />
        </div>
    </div>
    <div class="info" *ngIf="saved">
        Transfer saved
    </div>
    <div class="error" *ngIf="!myForm.valid && submitted">
        Please fill in required fields
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
</form>